* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

header nav {
  background-image: url(01073865290819.5d61d475f0072.jpg);
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  width: 100%;
  height:auto;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

main {
display:flex;
justify-content:space-between;
align-content: center;
width: 100%;
height:900px;
background-color:peachpuff;
}

#title {
  width: 100%;
  font-family: 'open sans',sans-serif;
  text-align: center;
  color:black;
  text-align: center;
  text-decoration: overline;
  font-weight: bold;
}

a:link {
  text-decoration: none;
  color: none;
}

p {
  width:60%;
  text-align:right;
  color:black;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

nav form button {
  margin:18px;
}

footer{
  width:100%;
  height:100px;
  background-color:gray;
}

#linkedin{
  width:300px;
  font-size: x-large;
}

#gitHub {
  width:300px;
  font-size: x-large;
}

#whatsapp {
  width:300px;
  font-size: x-large;
}


li img {
  width:30px;
  height: 30px;
  margin:12px;
}

.sectionMain{
  width:100%;
  padding:30px;
}
